%h1 
  SuperRoute 
  = @super_route.short_name

%p 
  = @date
  = @schedule_type

/
  %h2 Stops

  %ul
    - @super_route.route_stops.each do |stop|
      %li
        = link_to stop.name, :controller => :stop, :action => :show, :id => stop.id, :route_short_name => @super_route.short_name, :schedule_type => @schedule_type, :date => @date


%ul
  - @subroutes.each do |subroute|
    %li 
      = subroute.headsign
      \-
      = "#{subroute.trips.size} trips"
      %ul
        - subroute.stops.each_with_index do |stop, index|
          %li
            = stop.position
            = "[#{stop.id}]"
            = stop.name
    /
      %li
        = subroute.headsign
        %ul
          - subroute.trips.each do |trip|
            %li
              = trip.start_time
              = trip.end_time
              = link_to "see stops", :controller => 'trips', :action => 'show', :id => trip.id

