<% content_for :header do %>
  <script type="text/javascript">

    var stops = <%= @stops.map {|stop| stop.dup.delete_if {|k,v| k == :next_arrivals}}.to_json %>;
    var numTripSets = <%=@trip_sets.size %>;
    var currentTripSet = 0;


  </script>
  <%= javascript_include_tag "jquery-1.3.2.min.js"  %>
  <%= javascript_include_tag "triptable"  %>
<% end %>
<% content_for :body_attr, 'onload="initialize()"' %>

<% unless params[:from_iphone_app] %>
  <div class="nav"
    <%= link_to "main", "/mobile" %> &gt; <%= link_to "routes", url_for(:controller => "routes", :transport_type => params[:transport_type]) %> &gt; trips
  </div>

  <div class="note">
    Bookmark this page if this is one of your regular routes.
  </div>
<% end %>

<div class="info">
  <span style="font-weight:bold"><%= @headsign %></span><br/>
  <% if params[:first_stop] && !params[:first_stop].blank? %>
    <span style="font-weight:bold"><%= params[:first_stop] %></span><br/>
  <% end %>
  <%= route_s @route, @transport_type.to_s %>
</div>

<p>
If your device allows geo-location, the closest stop will be <span class="example-blue">highlighted in blue</span>.
</p>

<p id="closestStopFound"></p>



<%= render :partial => 'pager_controls' %>

<table class='mbta'>
  <% @result[:ordered_stop_ids].each do |stop_id| %>
    <tr  class='row-header stop-name'>
      <td id="<%=stop_id%>" colspan="<%= @cols %>" class="stop-name-header">
        <span class="stop-detail" style='float:right'><a href="<%= url_for(params.merge(:stop_id => stop_id, :controller => 'stop_arrivals')) %>">detail</a></span>
        <span class="stop-name-span">
          <%= @result[:stops][stop_id][:name] %>
        </span>

      </td>
    </tr>

    <% @trip_sets.each_with_index do |trip_set, i| %>
      <tr class="trip-set_<%= i %>" style="<%= i != 0 ? 'display:none;' : nil %>">

        <% @cols.times do |i|  %>

          <% trip_id = trip_set[i] %>
          <% this_cell_value = cell_value(stop_id, trip_id) %>

          <td class="arrival-time <%= i % 2 == 0 ? 'arrival-time-even' : '' %> <%= this_cell_value.nil? ? 'no-arrival' : nil %>">
            <%= this_cell_value ? this_cell_value : "&nbsp;"  %>
          </td>
        <% end %>
      </tr>

    <% end %>

  <% end %>
</table>

<%= render :partial => 'pager_controls' %>

<%# @result.inspect %> 

