<% content_for :header do %>
  <script type="text/javascript">

    var stops = <%= @stops.to_json %>;


  </script>
  <%= javascript_include_tag "jquery-1.3.2.min.js"  %>
  <%= javascript_include_tag "triptable"  %>
<% end %>
<% content_for :body_attr, 'onload="initialize()"' %>

<div class="nav"
  <%= link_to "main", "/mobile" %> &gt; <%= link_to "routes", url_for(:controller => "routes", :transport_type => params[:transport_type]) %> &gt; trips
</div>

<div class="info">
  <span style="font-weight:bold"><%= @headsign %></span><br/>
  <%= route_s @route, @transport_type.to_s %>
</div>


<table class='mbta'>
  <% @result[:ordered_stop_ids].each do |stop_id| %>
    <tr  class='row-header stop-name'>
      <td id="<%=stop_id%>" colspan="3">
        <span class="stop-detail"><a href="<%= url_for(params.merge(:stop_id => stop_id, :controller => 'stop_arrivals')) %>">detail</a></span>
        <span class="stop-name-span">
          <%= @result[:stops][stop_id][:name] %>
        </span>
      </td>
    </tr>
      <% 3.times do |i|  %>
        <% next_arrival = @result[:stops][stop_id][:next_arrivals][i]  %>
        <td class="<%= @result[:imminent_stop_ids].map(&:to_i).include?(stop_id) && i == 0 ? 'imminent-stop' : nil %> arrival-time">
          <%= next_arrival %>
          <% if next_arrival.nil? and i == 0 %>
            no more arrivals
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>



<%# @result.inspect %> 

