<div class="nav">
  <%= link_to "main", "/mobile" %>
  &gt; routes
</div>


<div class="info" style="font-weight:bold">
  <%= @transport_type.to_s.split(/[ _]/).map(&:capitalize).join(" ") %> routes
</div>

<div class="note">
Note: If a route is done all its trips for the day or isn't
in service today, it won't show up at all on this list. Look for it on the list
tomorrow (or Monday) morning, and chances are that you'll see it. If not, please report the bug.  
</div>

<% if @result.size > 30 %>
<div class="normal-text">
  Jump to number:
  <br/>
  <% @result.each_with_index do |route,index| %>
    <% if index % 5 == 0 && index != 0 %>
      <a class="jump-link" href="#<%= index %>"><%= route[:route_short_name] %></a>
    <% end %>
  <% end %>
  <div class="note" style="clear:left;padding-top:5px;">
    NOTE: If you don't see your bus route above, jump to a number or letter close to it. You'll probably see the route close by.
  </div>
</div>
<% end %>

<% if @result.size == 0 %>
  <br/>

  No more trips today

<% end %>

<table class='mbta' style="margin-top:10px">
  <% @result.each_with_index do |route, index| %>
    <tr class='row-header stop-name'>
      <td colspan="3">
        <a name="<%=index%>"></a>
        <%= route[:route_short_name] %>
        <span class="stop-detail"><%= @result.size > 30 && index > 6 ? "<a style='float:right' href='#top'>top</a>" : nil %></span>

      </td>
      <% route[:headsigns].each do |headsign, trips_left| %>
        </tr>
          <td colspan="3">
            <%= link_to headsign, "/trips.html?transport_type=#{@transport_type}&route_short_name=#{route[:route_short_name]}&headsign=#{headsign.gsub("&", "^")}" %> 
            <br/><span class="trips-left"><%=pluralize(trips_left, "trip")%> left</span>
          </td>
        </tr>
      <% end %>
  <% end %>
</table>

