
<h1>OpenMBTA</h1>

<p>The OpenMBTA project provides free, open source mobile apps for public
transportation users in the Boston metro region. The goal is to promote public
transportation in order to help fight global
warming and reduce our dependency on the oil imports that keep autocratic
regimes in power. </p>

<h2>OpenMBTA for the iPhone</h2>

<p>
 You can get the OpenMBTA iPhone app from the iTunes App Store for free <%= link_to "by
clicking here", "itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=336082252&mt=8&s=143441" %>. 
The current version is <strong>1.2</strong>. The new version introduces bookmarks, a new schedule grid view, a new T-Alerts view, and a Twitter #mbta feed viewer.
</p>

<p>OpenMBTA will show you today's remaining scheduled arrival times for MBTA
buses, subway trains, commuter rail lines, and ferries. It also has a section that shows you the latest <b>T Alerts</b>, which are service delay announcements from the MBTA.</p>

<%= image_tag "screens1.2/IMG_0012.PNG", :class => 'screenshot' %>
<%= image_tag "screens1.2/IMG_0009.PNG", :class => 'screenshot' %>

<p>Please note that the application is a <b>public beta</b>.  This means that it has not been fully tested and that the user interface could use a lot of refinement. If you find any bugs or have a good feature or user interface suggestion, please let us know on the <%= link_to "Support & Feedback Page", "/support" %>.  </p>


<a name="how-to"></a>

<h2>How to use it (iPhone app)</h2>

<p>Let's just run through a basic use case. Say you're somewhere in
Cambridgeport, and you want to know where the nearest stop for the Number 1 Bus
to the Boston side of the Charles River is and when it's going to arrive next.</p>

<p>Starting at the main menu, you want to press <b>Bus</b>.</p> 


<%= image_tag "screens1.2/main-annotated.png", :class => "screenshot" %>

<p>The next screen will show you all the bus routes with trips still scheduled 
today, ordered by number. If the bus you're interested in has a high number, you
can navigate to it more quickly using the number index along the right. In this
case, we don't need to do that because Bus 1 is at the top of the list. </p>

<p>For every bus route, you'll see all the headsigns for that route. Usually
this means that there is one headsign for each direction, but some routes are
more complicated and have more than two headsigns. For each headsign, you'll
also see the number of trips left for today.</p>

<p> Please note that if a bus route is done all its trips for the day or isn't
in service today, it won't show up at all on this list. This is a potential
source of confusion that might be remedied in the next version of the app.  </p>

<p>We've found Bus 1 going toward Boston, so let's tap that. </p>

<%= image_tag "screens/bus-routes-annotated.jpg", :class => "screenshot" %>

<p>The next screen is the heart of the application. It is actually two views. By default, you'll see the <b>map view</b>. But if you tap on the "Table" button on the top, you'll see a <b>table view</b> version of the same information.</p>

<%= image_tag "screens1.2/IMG_0012.PNG", :class => 'screenshot' %>
<%= image_tag "screens1.2/IMG_0008.PNG", :class => "screenshot" %>

<%= render :partial => 'help/guide' %>

<%= render :partial => 'help/guide2' %>

<%= image_tag "screens/IMG_0127.jpg", :class => "screenshot" %>


<p> The schedules and maps for Subway and Boat work mostly in the same fashion
as for our Bus example. OpenMBTA handles Commuter Rail schedules a little
differently however - and a bit awkwardly, I must confess  - because of the more complicated nature of commuter rail schedules. The interface for Commuter Rail
schedules will definitely change in the next version of the app.  </p>

<%= render :partial => 'help/guide3' %>


<p>
You can also bookmark routes using the star button the top of the map or schedule grid screens. Bookmarked
routes will show up at the top of the main menu.
</p>

<p>
Finally, check out the T-Alerts and the Twitter #mbta feed screens. 
</p>


<%= image_tag "screens1.2/IMG_0011.PNG", :class => 'screenshot' %>
<%= image_tag "screens1.2/IMG_0010.PNG", :class => 'screenshot' %>

<h2>OpenMBTA for Mobile Browsers</h2>

<p>
A beta version of OpenMBTA for mobile web browsers is now available.
Visit this URL on your mobile browser to use it:
</p>

<p>
  <a href="http://openmbta.org/mobile">http://openmbta.org/mobile</a>
</p>

<p>
  To save typing, you can also visit:
</p>

<p>
  <a href="http://m.openmbta.org">http://m.openmbta.org</a>
</p>



<hr/>

<a name='developers'></a>

<h3>OpenMBTA is an open source project</h3>

<p> The code for OpenMBTA is open source, and from this point foward OpenMBTA is
an open source project. Hopefully, a few civic-minded, Boston-based programmers,
UI designers, and pixel artists will adopt the app as their own and help improve
it. Developers based in other metro areas who would like to
adapt the source code for OpenMBTA to produce free iPhone apps for their own
public transit systems are also welcome to use the code base.</p>

<p>The code for the project is available on GitHub at
<%= link_to "http://github.com/danchoi/openmbta", "http://github.com/danchoi/openmbta" %>.
</p>

<p>A Google Group has been set up for OpenMBTA project development:
<%= link_to "OpenMBTA Google Group", "http://groups.google.com/group/openmbta" %>.
</p>

<p>The iPhone client is written in Objective-C. The data backend is written in Ruby, using
Ruby on Rails.</p>

<hr/>
<a name="next-release"></a>

<h3>Goals for the next release</h3>

<p>The first goal is to start implementing some <strong>real-time
  tracking</strong> of actual bus, train, and boat locations. </p>

<p>Other goals will be determined through user feedback. Please leave your
suggestions on the <%= link_to 'Support & Feedback Page', '/support' %>.</p>


<hr/>
<a name='credits'></a>
<%= render :partial => 'credits' %>
