<% content_for :header do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript">

    var current_stop_id = <%= @stop.id.to_json %>;
    var center_lat = <%= @stop.lat.to_json %>;
    var center_lng = <%= @stop.lng.to_json %>;
    var stops = <%= @stops.to_json %>;
    var imminent_stops = <%= @result[:imminent_stop_ids].to_json %>;
    var zoomLevel = <%= @transport_type == :commuter_rail ? 10 : 13 %>;

  </script>
  <%= javascript_include_tag "tripmap"  %>
<% end %>
<% content_for :body_attr, 'onload="initialize()"' %>


<%= link_to "back to #{@headsign}", url_for(params.merge(:controller => "trips")) %>


<h3><%= @stop.name %></h3>

<h3>Route: <%= @route %></h3>
<h3><%= @headsign %></h3>

Arrivals left: <%= @arrivals.size %>

<div>
  <% @arrivals.each do |arrival| %>
    <div class="arrival-time-float">
        <%= arrival[:arrival_time] %>
    </div>
  <% end %>
</div>
<br style="clear:left"/>


<div id="stop_info" style=""></div>

<div id="map_canvas" style="width:300px; height:300px"></div>


