<% content_for :header do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript">
    var current_stop_id = <%= @stop.id.to_json %>;
    var center_lat = <%= @stop.lat.to_json %>;
    var center_lng = <%= @stop.lng.to_json %>;
    var stops = <%= @stops.to_json %>;
    var imminent_stops = <%= @result[:imminent_stop_ids].map(&:to_i).to_json %>;
    var zoomLevel = <%= [ :commuter_rail, :boat ].include?(@transport_type) ? 10 : 13 %>;

  </script>
  <%= javascript_include_tag "tripmap"  %>
	<%= javascript_include_tag "jquery-1.3.2.min.js"  %>

  <script type="text/javascript">

	$(document).ready(function() {
		$("a.anchorLink").anchorAnimate()
	});

	jQuery.fn.anchorAnimate = function(settings) {

	 	settings = jQuery.extend({
			speed : 1100
		}, settings);	

		return this.each(function(){
			var caller = this
			$(caller).click(function (event) {	
				event.preventDefault()
				var locationHref = window.location.href
				var elementClick = $(caller).attr("href")
				var destination = $(elementClick).offset().top;
				$("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination}, settings.speed, function() {
					window.location.hash = elementClick
				});
			  	return false;
			})
		})
	}

  </script>
<% end %>
<% content_for :body_attr, 'onload="initialize()"' %>


<div class="nav">
  <%= link_to "main", "/mobile" %> &gt; <%= link_to "routes", url_for(:controller => "routes", :transport_type => params[:transport_type]) %>
  &gt;
  <%= link_to "trips", url_for(params.merge(:controller => "trips").delete_if {|k,v,| k == 'stop_id'}) %>
  &gt;
  stop
</div>


<div class="info">
  <%= @stop.name %> 
  <span style="font-weight:bold"><%= @headsign %></span><br/>
  <%= route_s @route, @transport_type.to_s %>
</div>

<div class="note">
  Note: This page of OpenMBTA is in flux. If you have a good suggestion for what kind of information to put here, please post your suggestion at <a href="/support">http://openmbta.org/support</a>.
</div>


<div id="map_canvas" style="margin-top:10px;width:316px; height:300px"></div>
<a name="mapAnchor" id="mapAnchor"></a>
