<div class="nav">
  <%= link_to "main", "/mobile" %> &gt; t-alerts
</div>

<div class="info" style="font-weight:bold">
  T-Alerts
</div>

<% @alerts.each do |alert| %>
  <div class="alert <%= cycle('odd', 'even') %>">
    <h4><%= alert.title %>
      <span class="time"><%= alert.pub_date %></span>
    </h4>

    <%= alert.description %>

  </div>

<% end %>
